<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.OperateLogMapper">

    <select id="page" resultType="org.example.pojo.OperateLog">
        select ol.*, e.name as operateEmpName
        from operate_log ol
        left join emp e on ol.operate_emp_id = e.id
        order by ol.operate_time desc
    </select>

</mapper>
